@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.main-header {
    margin-top: 7rem;
}

.theme-container {
    margin-top: 5rem;

    .theme-buttons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: auto;
        width: 60%;

        button {
            cursor: pointer;
            margin: 1rem 1rem;
            padding: 1rem;
            width: 12rem;
        }
    }
}

